/****** Fonts ******/
*{
    font-family: 'Lato', sans-serif;
}

/* Faq */
.faq .answer {
    display: none;
    overflow: hidden;
}
.faq img {
    display: block;
    margin: auto;
    width: 80%;
}
.faq code {
    background-color: lightyellow;
    display: block;
    margin-top: 5px;
    padding: 10px;
}
#imgScreen > img {width: 100%}
.faq-screen-popup {
    max-width: 880px;
}

.question a{
    font-weight: 700;
    text-decoration: none;
}

.question a:hover{
    text-decoration: underline;
}

/****** Style Editor ******/
div.color-picker-sliders {
    width: 85%;
}
div.color-picker-swatch {
    width: 15%;
}
div.color-slider > input,
div.number-slider > input
{
    width: 14%;
    min-width: 60px;
}

.color-slider-label{
    display: block;
    font-weight: normal;
    text-align: left;
    padding-left: 0;
    white-space: normal;
}

.number-slider-label span, .font-style-label span, .radio-selector-label span{
    padding-left: 0;
    white-space: normal;
}

.radio-selector-option-label{
    width: 72px;
}

/* Design page */
#preview-section {
    /*position: fixed;*/
    /*top: 20px;*/
    /*right: 10px;*/
    /*min-width: 300px;*/
    /*max-width: 350px;*/

    bottom: 0;
    height: auto;
    left: 0;
    min-width: 300px;
    position: fixed;
    width: 100%;
    transition: height 1s;
}
#preview-section > label {
    background-color: #fff;
    border-radius: 10px 10px 0 0;
    display: inline-block;
    margin: 0 0 0 10px;
    padding: 5px 10px;
    box-shadow: 0px -2px 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
#preview {
    background-color: #fff;
    /*padding: 10px;*/
    box-shadow: 0px -2px 2px rgba(0, 0, 0, 0.2);
    text-align: center
}
.section-content-065.design-controls {
    max-width: 66%;
}

/*=== TOP MENU ===*/
#top_menu {
    list-style: outside none none;
    margin: 0;
    padding: 0;
    float: right;
}

#top_menu > li {
    display: inline-block;
    padding: 10px;
    position: relative;
}

#top_menu_wrapper {
	background-color: white;
	padding: 0 1%;
}

.active {
    border-bottom: solid 4px #479ccf;
}
/*=== END TOP MENU ===*/

/****** Product Selector ******/
.widget_header {
    height: 30px;
}
.widget_header_title{
    float: left;
    margin: 0px;
}
.g_6 {
    box-sizing: border-box;
    float: left;
    min-width: 341px;
    padding: 10px;
    width: 50%;
}
.clear {
    clear: both;
}
div.productsBlock ul li .title {
    width: 200px;
    font-size: 1em;
}
div.productsBlock ul li .title * {
    font-size: inherit;
}
div.productsBlock ul li .price {
    font-size: 1em;
}
div#shopify-products-group-wrappper {
    display: none;
}
.dtPagination.pCenter {
    text-align: center;
}
div.productsBlock a.add-link {
    color: #fff;
    background-color: #479ccf;
    border-radius: 3px;
}
div.productsBlock a.used {
    color: red;
    opacity: 0.5;
}
div.productsBlock .dtPagination a {
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    display: inline-block;
    margin: 12px 0px;
    padding: 0 11px;
    text-decoration: none;
}
div.productsBlock .dtPagination a:hover {
    background-color: #f5f6f7;
}
div.productsBlock .dtPagination a.paginate_active {
    background-color: #d6d6d6;
    color: #fff;
}

.ps-block-no-actions{
    min-height: 33px !important;
}

[name="variant-select"]{
    display: none;
}

/****** End ******/

body.production .flash-message{
    display: none;
}

fieldset, .input-group{
	margin-top: 15px;
}

h3, .box + .btn{
	margin-top: 10px;
}

input.btn.primary{
    margin-bottom: 55px;
}

input[type='checkbox']{
	margin: 0;
    width: 30px;
}

input[type='radio']{
	height: 18px;
}

input[type="submit"]{
    float: right;
    margin-bottom: 20px;
    min-width: 62px;
    width: 8%;
}

input[type="text"],
.mini-input,
.page-header{
    margin-bottom: 0;
}

input[type="text"] + .btn{
    margin-left: 5px;
}

p{
    margin: 1em 0 0 0;
}

select{
    margin-right: 5px;
}

select.mini-input{
    border-radius: 3px;
    line-height: 1em;
    margin-top: 0 !important;
    padding: 0 0 0 5px;
    text-align: left;
    width: 72px;
}

.box{
    padding: 15px 50px;
    line-height: 20px;
    position: relative;
}

.btn{
    height: 34px;
}

.center-block{
    display: block;
    padding: 46px 15px 46px 0 !important;
}

.content{
    min-width: 464px;
	padding: 0 1%;
}

.form-inline{
    margin-top: 5px;
    padding: 1%;
}

.form-inline .col-lg-5,
.form-inline .col-md-5,
.form-inline .col-sm-5,
.form-inline .col-xs-5,
.form-inline .col-md-2,
.form-inline .col-sm-2,
.form-inline .col-xs-2,
.form-inline .col-lg-1{
    padding: 0 3px;
}

.left-block{
    margin-right: 2%;
}

.form-inline .form-control{
    width: 100%;
}

.icon-picker {
    font-size: 1.2em;
    width: 62px;
}

.input{
    display: inline-block;
    padding-top: 8px;
    vertical-align: top;
}

.input select{
    margin: 5px 0 0 5px;
}

.input-group-addon{
	padding: 5px 5px !important;
}

.label{
    color: black;
    font-size: 100%;
}

.mini-input{
    text-align: center;
    height: 1.8em;
	width: 50px;
}

.panel-body .col-lg-5{
    padding-right: 0;
}

.panel-default>.panel-heading{
    background-color: white;
    background-image: none;
}

.popover{
    min-width: 250px;
}

.popover, .popover-content input{
    text-align: center;
}

.popover-content input{
    margin: 5px 0 0 0;
}

.popover-content span{
	cursor: pointer;
    display: inline-block;
	font-size: 30px;
}

.section{
    padding-top: 0;
}

.section-content{
    padding: 0;
}

.section-header h2{
    font-weight: 700;
}

.section-fixed{
    margin-top: 0;
    max-width: 1600px;
}

.select-wrapper{
    margin: 0;
}

.small-descr{
    font-size: 0.8em !important;
    font-style: italic;
    text-align: center;
}

#product_selector{
    max-width: 70%;
}

#selectorPickerForm{
    width: 70%;
}

@media (min-width: 875px){
    .g_6{
        min-width: 0;
    }
}

@media (min-width: 875px) and (max-width: 1200px){
    #product_selector{
        max-width: 100%;
    }
}

@media (max-width: 875px){
    .center-block{
        padding: 34px 15px 46px 0 !important;
    }

    .emojiBtn{
        font-size: 7px;
        height: 14px;
        line-height: 6px;
        padding: 3px 3px;
    }

    .icon-picker{
        font-size: 0.7em;
        height: 18px;
        line-height: 18px;
    }

    .input-group-addon{
        height: 20px !important;
        padding: 1px 1px !important;
    }

    .input-group-lg>.form-control{
        font-size: 12px;
        height: 20px;
        padding: 10px 5px;
    }

    .input-group-lg>.input-group-addon{
        line-height: 12px;
    }

    #selectorPickerForm .input-group-addon{
        height: 46px;
        padding: 5px 15px;
    }

    #selectorPickerForm .form-control{
        font-size: 18px;
        height: 46px;
        padding: 5px 15px;
    }
}

@media (max-width: 1051px){
    .color-slider-input{
        margin-top: 5px;
    }
}

@media (max-width: 739px){
    .number-slider-input{
        margin-top: 5px;
    }
}

@media (min-width: 960px){
    .col-1-5{
        width: 11%;
    }
}

  .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

    .switch input {display:none;}

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked + .slider {
        background-color: #2196F3;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

    .slider.round:before {
        border-radius: 50%;
    }