#preview{
	min-height: 200px;
	padding-top: 30px;
}

div#hub-container{
	box-sizing: content-box;
	margin: auto;
	text-align: left;
	padding: 10px;
	white-space: nowrap;
}

div#hub-container *{
	display: inline-block;
}

div#hub-left span{
	display: block;
	text-align: left;
}

div#hub-middle{
	padding: 0 5px;
	position: absolute;
	text-align: center;
}

div#hub-right{
	position: absolute;
}