
/***********************************************************************
 *                            Design Controls                          *
 ***********************************************************************/
.slider {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #fcfcfc 0%, #f2f2f2 100%) repeat scroll 0 0;
    border: 1px solid #c9c9c9;
    border-radius: 6px;
    box-shadow: 0 1px 0 #ffffff;
    height: 5px;
    margin: 8px 0;
    position: relative;
}
.ui-slider-range-min {
    left: -1px;
}
.ui-slider-range {
    border-radius: 6px;
    box-shadow: 0 1px 0 #ffffff;
    height: 100%;
    position: absolute;
    top: -1px;
}

.control-slider {
    clear: both;
    margin: 20px 0px 10px;
    overflow: hidden;
}
.control-slider label,
.control-slider .slider,
.font-style-label
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}
.control-slider label,
.font-style-label
{
    float: left;
    width: 35%;
}
.control-slider .slider {
    float: left;
    height: 21px;
    margin: 0;
    padding: 7px 8px;
    width: 45%;
}
.control-slider .slider-inner {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #C0C0C0;
    clear: left;
    height: 4px;
    position: relative;
    width: 100%;
    border-radius: 6px;
}
.control-slider > input {
    font-size: 12px;
    height: 21px;
    line-height: 21px;
    margin-left: 5px;
    text-align: right;
    width: 14%;
}
.control-slider .ui-slider-handle {
    border: 0;
    border-radius: 0;
    display: inline-block;
    height: 16px;
    width: 15px;
    /*background: url("../img/handle.horizontal.png") no-repeat scroll center center, rgba(0, 0, 0, 0) -moz-linear-gradient(center top , #fcfcfc 0%, #f7f7f7 100%) repeat scroll 0 0;*/
    box-shadow: 0 1px 0 #ffffff inset;
    margin: -10px;
    position: absolute;
}
.control-slider .ui-slider-handle,
.control-slider .ui-slider-handle.ui-state-active,
.control-slider .ui-slider-horizontal .ui-slider-handle.ui-state-focus
{
    background-color: transparent;
}

.control-slider .ui-slider-horizontal .ui-slider-handle {
    background-image: url('../img/handle.horizontal.png');
}
.control-slider .ui-slider-horizontal .ui-slider-handle.ui-state-hover,
.control-slider .ui-slider-horizontal .ui-slider-handle.ui-state-focus
{
    background-image: url('../img/handle.horizontal.hover.png');
}

.control-slider .ui-slider-range {position: relative; top: 0; background: none repeat scroll 0 0 #bebebe;}


/***********************************
            Color Picker
***********************************/
.color-picker-wrapper {
    clear: both;
    margin: 20px 0px 10px;
    overflow: hidden;
}
.color-picker-sliders,
.color-picker-swatch
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}

.color-picker-label {
    display: block;
    /*border-bottom: 1px solid #C0C0C0;*/
    margin: 0 0 5px;
    padding: 0 0 3px;
}

.color-slider-label {
    float: left;
    font-size: 12px;
    line-height: 21px;
    width: 16%;
}
.color-picker-swatch {
    /*width: 120px;*/
    width: 20%;
    float: left;
    height: 72px;
    margin-top: 5px;
    /*margin-left: 350px;*/
    background-image: none;
    border: 1px solid #EFEFEF;
}
.color-picker-sliders {
    width: 80%;
    float: left;
}
.color-slider-red .ui-slider-range { background: #ef2929; }
.color-slider-red .ui-slider-handle { border-color: #ef2929; }
.color-slider-green .ui-slider-range { background: #8ae234; }
.color-slider-green .ui-slider-handle { border-color: #8ae234; }
.color-slider-blue .ui-slider-range { background: #2525ff; }
.color-slider-blue .ui-slider-handle { border-color: #2525ff; }

.color-slider {
    clear: both;
    margin: 5px 0;
}

.color-slider > input {
    width: 40px;
}

.color-slider .slider {
    width: 68%;
}
.color-slider .slider-inner {
}


/***********************************
            Number Slider
***********************************/
.number-slider label {
    /*width: 115px;*/
}
.number-slider .slider {
    /*width: 200px;*/
}
.number-slider .slider-inner {
}
.number-slider > input {
    /*width: 50px;*/
}

/***********************************
        Font Style Picker
***********************************/
.font-style-wrapper {
    overflow: auto;
}
.font-style-buttons {
    overflow: hidden;
}
.font-style-button {
    float: left;
    margin-right: 2px;
    padding: 1px;
}
.font-style-button-active {
    background-color: #ff9900;
}

/***********************************
           Radio Selector
***********************************/
.radio-selector {
    clear: both;
    overflow: hidden;
    margin: 20px 0 10px;
}
.radio-selector-option {
    float: left;
    width: 33%;
    margin: 2px 0;
}

/*.radio-selector-option-label {*/
/*font-size: 11px;*/
/*display: inline-block;*/
/*vertical-align: top;*/
/*margin-top: 3px;*/
/*}*/

.radio-selector-option > label {
    color: #8F8F8F;
    display: inline-block;
    font-size: 11px;
    margin-top: 3px;
    vertical-align: top;
}

.radio-selector-option .radio {
    margin-right: 5px;
}

/*****************************
        Tabs
*****************************/
.simpleTabs .w_Tabs {float: none;}
.simpleTabs .w_Tabs > li {float: left;}
.simpleTabs .w_Tabs > li > a {border: 0; border-right: 1px solid #DADADA;}
.simpleTabs .w_Tabs > li:first-child {margin-left: -15px}
