<script>
    if(typeof(Spurit) === 'undefined'){
        var Spurit = {};
    }
    if(typeof(Spurit.juliaCartReminder) === 'undefined'){
        Spurit.juliaCartReminder = {
            shopHash: "<?php echo $shopHash ?>"
        };
    }
</script>
<script src="<?php echo $commonJsFileUrl;?>"></script>